

.element-field-grid-list {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-column-gap: 15px;
  padding: 10px;

}
.element-field {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FF7F37;
  border-radius: 25px;
  cursor: pointer;
  margin-bottom: 15px;
  padding: 10px;
}

